body {
    margin: 0;
    padding: 0;
    background: #DDDDDD !important;
}

.horizonal-padding-30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.random-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 200px;
}

.write-spittle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.m-t-100 {
    margin-top: 100px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

@media screen and (max-width: 499px) {
    .header {
        width: 100%;
        margin: 0;
        height: 50px;
        background-color: #001f3f;
        position: fixed;
        overflow: auto;
        z-index: 1;
    }

    .home {
        margin-left: 20px;
        margin-top: 15px;
        margin-right: 20px;
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
        border-radius: 30px;
        text-decoration: none !important;
    }

    .home :hover {
        color: #F7CAC9;
        transition: all 0.25s ease-in;
    }

    .display-none-xs {
        display: none;
    }

    .spittle-text {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border: 1px solid black;
        height: 150px;
        width: 80%;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 5px !important;
        background-color: whitesmoke;
        color: black;
        white-space: pre-wrap;
        resize: none;
    }

    .display-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        width: 90%;
        border: 1px solid black;
        background-color: whitesmoke;
        color: black;
        word-break: break-word;
        text-align: center;
        border-spacing: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 15px;
        border-radius: 30px;
    }

    .sidebar {
        height: 12%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #001f3f;
        overflow-x: hidden;
        text-align: center;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 22px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .sidebar .closebtn {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 36px;
    }

    .openbtn {
        margin-top: 10px;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    #open-menu {
        margin-top: 10px;
    }

    .spittle-image {
        width: 260px !important;
        height: 260px !important;
    }
}

@media screen and (min-width: 500px) {
    .display-none-lg {
        display: none;
    }

    .header {
        margin: 0;
        height: 50px;
        background-color: #001f3f;
        position: relative;
        overflow: auto;
        z-index: 2;
    }

    .header-link {
        margin-left: 20px;
        margin-top: 15px;
        margin-right: 20px;
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
        border-radius: 30px;
        text-decoration: none !important;
    }

    .header-link:hover {
        color: #F7CAC9;
        transition: all 0.25s ease-in;
    }


    .spittle-text {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border: 1px solid black;
        height: 150px;
        width: 30%;
        padding: 12px 20px;
        box-sizing: border-box;
        border-radius: 5px !important;
        background-color: whitesmoke;
        color: black;
        white-space: pre-wrap;
        resize: none;
    }

    .display-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px !important;
        width: 40% !important;
        border: 1px solid black;
        background-color: whitesmoke;
        color: black;
        word-break: break-word;
        text-align: center;
        border-spacing: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 15px;
        border-radius: 30px;
    }
}