body {
    margin: 0;
    padding: 0;
    background: #DDDDDD !important;
}

.horizonal-padding-30 {
    padding-right: 30px !important;
    padding-left: 30px !important;
}

.form-signin-heading {
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
}

}

.form-signin {
    text-align: center;
}

.register-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 200px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.register-field {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@media screen and (max-width: 499px) {
    .header {
        width: 100%;
        margin: 0;
        height: 50px;
        background-color: #001f3f;
        position: fixed;
        overflow: auto;
        z-index: 1;
    }

    .home {
        margin-left: 20px;
        margin-top: 15px !important;
        margin-right: 20px;
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
        border-radius: 30px;
        text-decoration: none !important;
    }

    .home :hover {
        color: #F7CAC9;
        transition: all 0.25s ease-in;
    }

    .display-none-xs {
        display: none;
    }

    .sidebar {
        height: 70px;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #001f3f;
        overflow-x: hidden;
        text-align: center;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 22px;
        color: white;
        display: block;
        transition: 0.3s;
    }

    .header-link {
        margin-top: 10px;
    }

    .sidebar .closebtn {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px !important;
        font-size: 36px;
    }

    .openbtn {
        margin-top: 10px;
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    #open-menu {
        margin-top: 10px;
    }

    .register-field {
        width: 100% !important;
    }
}

@media screen and (min-width: 500px) {
    .display-none-lg {
        display: none;
    }

    .header {
        margin: 0;
        height: 50px;
        background-color: #001f3f;
        position: relative;
        overflow: auto;
        z-index: 2;
    }

    .header-link {
        margin-left: 20px;
        margin-top: 15px;
        margin-right: 20px;
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: 900;
        line-height: 20px;
        border-radius: 30px;
        text-decoration: none !important;
    }

    .header-link:hover {
        color: #F7CAC9;
        transition: all 0.25s ease-in;
    }
}