body
{
    background: wheat;
    text-align: center;
}
div.spittleMessage
{
    font-size: 20px;
    color: brown;
}
div.spittleTime
{
    color: cornflowerblue;
}
input[type=text] {
    width: 30%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: blanchedalmond;
    resize: none;
}

.mainText
{
    font-weight: bold;
    font-size: 35px;
    color: chartreuse;
}