body
{
    background: wheat;
}
div.spittleMessage
{
    text-align: center;
    font-size: 20px;
    color: brown;
}
div.spittleTime
{
    text-align: center;
    color: cornflowerblue;
}

.mainText
{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: chartreuse;
}