<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Spittles</title>
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<div class="header">
    <div class="header-left">
        <a href="/">Home</a>
        <a sec:authorize="isAuthenticated()" href="/spittle">Spittle</a>
    </div>
    <div class="header-right">
        <a sec:authorize="!isAuthenticated()" href="/login">Login</a>
        <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
    </div>
</div>
<h1>This is main page!</h1>
</body>
</html>